---
layout: null
---

<template>
  <header>
    <h1>Welcome to Breaking Brake</h1>
  </header>

  <main>
    <slot />
  </main>

  <footer>
    <p>&copy; 2023 Breaking Brake. All rights reserved.</p>
  </footer>
</template>